@import "tailwindcss";

@theme {
  --color-primary: #C39D63;
  --color-background: #050505;
  --color-foreground: #FAFAFA;
}

:root {
  --background: #050505;
  --foreground: #FAFAFA;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, .font-serif {
  font-family: var(--font-playfair), serif;
}

/* Hide scrollbar for seamless experience */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
