@import "tailwindcss";

@theme {
  --color-primary: #C39D63;
  --color-background: #050505;
  --color-foreground: #FAFAFA;
}

:root {
  --background: #050505;
  --foreground: #FAFAFA;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
.font-serif {
  font-family: var(--font-playfair), serif;
}

/* Standard scrollbar for better visibility */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #C39D63;
  border-radius: 4px;
}